.trains-table {
  border-collapse: collapse;
}

.trains-table-head {
  background-color: #0882FF;
  color: white;
}

.trains-table-row {
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}

.trains-table-body .trains-table-row:hover {
  cursor: pointer;
  background-color: rgba(1, 1, 1, 0.3);
}

.trains-table-cell {
  margin: 0;
  padding: 10px 20px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;

  border-right: 1px solid black;
}