.App {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;

  max-width: 1280px;
  min-width: 320px;
}

.App__title {
  box-sizing: border-box;
  width: 100%;
  margin: 50px 0 50px;
  padding: 25px;


  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;

  background-color: white;
  border-radius: 50;
}

.App__tables {
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 50px;
}

.App__speed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App__button {
  box-sizing: border-box;
  padding: 15px;
  margin: 25px 0 0;

  border-radius: 5px;
  border: 1px solid black;
  background-color: white;

  color: black;
}

.App__button:hover {
  cursor: pointer;
  opacity: 0.6;
}