.speedLimitsTable {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: none;
  flex-direction: column;
  align-items: start;
}

.speedLimitsTable_active {
  display: flex;
}

.speedLimitsTable__item {
  box-sizing: border-box;
  outline: 1px solid black;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  transition: all 0.2s ease-in-out;
}

.speedLimitsTable__item_header {
  background-color: #0882FF;
  color: white;
}

.speedLimitsTable__item-text {
  min-width: 260px;
  margin: 0;
  padding: 10px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;

  border-right: 1px solid black;
}