@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

#root {
  margin: 0 auto;

  color: black;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  background-color: #F6F8FA;
}